*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 500vh;
}

.ads{
    width: 300px;
    height: 300px;
    background-color: black;
    position: fixed;
    left: 2rem;
    top: 5rem;

}